.headerSpacer{
    flex: 1 1 auto;
}

ul{
    margin: auto;
}

a{
    text-decoration: none;
    color: #252121;
    font-size: 100%;
}
a:hover {
    color: #f33100;
    transition: 0.4s;
  }

.bgHeader{
    background-color: #3883d8;
}


