<div class="form">
  <mat-card class="card">
    <mat-card-title style="text-align: center;">Register Task</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input
            [(ngModel)]="registerTaskData.name"
            matInput
            placeholder="Name task"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerTaskData.description"
            matInput
            placeholder="Description"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerTaskData.imageUrl"
            matInput
            placeholder="Url de la imagen "
            required
          />
        </mat-form-field>
        <!-- <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="registerTaskData.taskStatus"
        >
          <option selected>Seleccione un estado de tarea</option>
          <option value="in-process">In-process</option>
          <option value="to-do">To-do</option>
          <option value="finished">Finished</option>
        </select> -->
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="registerTask()" class="button" mat-raised-button style="margin-left: 25%;">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
